@import '../legacy-ext/common.css';

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: black;
}

#main {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: black;
}
